@import url('https://fonts.googleapis.com/css?family=Neuton|Roboto+Slab:300,400|Source+Sans+Pro:400,600&display=swap');
/* define vars for the root element */
:root {
    --main-bg-color: #161819;
    --subject-txt-color: #FC8A1A;
    --container-width: 90%;
    --link-color: #8EF2FF;
    --header-txt-color: #fff;
}
* {
    box-sizing: border-box;
}

.card{
    margin-bottom: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
}

.card-img-top{
    width: 50%;
}

.listStyle {
    list-style: square inside;
}
.card-body{
    background-color:#bbbbbb;
}

.bg-white{
    background: var(--main-bg-color) !important;
}
.navbar-nav{
    background: none !important;
}


.navbar:hover{
    background: var(--subject-txt-color) !important;
}

header{
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
    background: url("https://sankonnectworks.s3.amazonaws.com/shanisretail/headerbg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.headerProduct{
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
    background: url("https://sankonnectworks.s3.amazonaws.com/shanisretail/productbg.png") center no-repeat;
    background-size: cover;
    position: relative;
}

.headerContact{
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
    background: url("https://sankonnectworks.s3.amazonaws.com/shanisretail/safety-2890768_1920.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.headerAbout{
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
    background: url("images/aboutbg.jpg") center no-repeat;
    background-size: cover;
    position: relative;

}

/*hero text*/
.hero-text{
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;

}


.btn-warning{
    background-color: #FC8A1A !important;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
}


.textSubject{
    color: var(--subject-txt-color);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.productHeader{
 color: var(--link-color);
    font-weight: 600;
}

.about{
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color);
    background: url("images/aboutbg.jpg") center no-repeat;
    background-size: cover;
    /*position: relative;*/

}

/*hover effects*/
.icon:hover,
.icon:focus {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}


a:hover {
    text-decoration: none;
    color: var(--subject-txt-color);
    transition: all 650ms;

}


.nav-link:hover{
    text-decoration: underline;
}

.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
    letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 70%;
}

.btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}




 /*end of hover effects*/
footer{
    background-color: var(--main-bg-color);
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}

a:link {
    color: var(--link-color);
}



.aboutText{
    font-size: 15px;
}

.DisplayText{
    font-size:20px !important;
}
/* desktop portrait media quearies*/
@media (min-width: 576px) {
    .aboutText{
        font-size: 22px;
        padding-top: 10% ;
    }
    .DisplayText{
        font-size:40px !important;
    }
}




/* form */

#success-message {
    opacity: 0;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding: 0 20% 0 20%;
}

.margin-top-25 {
    margin-top: 25px;
}

.form-title {
    padding: 25px;
    font-size: 30px;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group .form-control {
    -webkit-box-shadow: none;
    border-bottom: 1px;
    border-style: none none solid none;
    border-radius: 0;
    border-color: #000;
}

.form-group .form-control:focus {
    box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #000;
}

textarea {
    resize: none;
}

.btn-mod.btn-large {
    height: auto;
    padding: 13px 52px;
    font-size: 15px;
}

.btn-mod.btn-border {
    color: #000000;
    border: 1px solid #000000;
    background: transparent;
}

.btn-mod,
a.btn-mod {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    color: #fff;
    background: rgba(34, 34, 34, .9);
    border: 1px solid transparent;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:active,
.btn-mod.btn-border:focus,
.btn-mod.btn-border:active:focus {
    color: #fff;
    border-color: #000;
    background: #000;
    outline: none;
}

@media only screen and (max-width: 500px) {
    .btn-mod.btn-large {
        padding: 6px 16px;
        font-size: 11px;
    }
    .form-title {
        font-size: 20px;
    }
}



/*form end*/